*{
    margin: 0;
    padding: 0;
}


/* h2{
    border: 2px solid;
    margin: 5px;
}
.one{
    width: 500px;
}

.two{
    width: 80%;
    border: 2px solid;
}

.three{
    width: 80vw;
    border: 2px solid;
} */



/* абсолютная единица измерения */
/* px */

/* Относительная единица измерения */
/* %, vw */



.one{
    font-size: 50px;
}

.two{
    font-size: 1.5em; 75px
}

/* 1em = размеру настроек браузера или родительскому элементу */

.three{
    font-size: 1.5rem;
}


